{% extends 'base.html' %}
{%block title%}Cadastro{%endblock%}
{% block conteudo %}
<div style="margin-left: 8em; margin-right: 8em;">
    <br>
<h1>Cadastro</h1>
<form method="POST" action="{% url 'cadastro' %}">
    {% include '_messages.html'%}
    {% csrf_token %}
    <br>
    <div class="form-group" >
        <label>Nome</label>
        <input type="text" value="{{ request.POST.nome }}" name="nome"  class="form-control">
    </div>
    <div class="form-group">
        <label>Sobrenome</label>
        <input type="text" value="{{ request.POST.sobrenome }}" name="sobrenome" class="form-control">
    </div>
  <div class="form-group">
    <label>Email</label>
    <input type="email" value="{{ request.POST.email }}" name="email" class="form-control">
  </div>
    <div class="form-group">
        <label>Usuário</label>
        <input type="text" value="{{ request.POST.usuario }}" name="usuario" class="form-control">
    </div>
    <div class="form-group">
        <label>Senha</label>
        <input type="password" name="senha" class="form-control">
    </div>
    <div class="form-group">
        <label>Repetir a senha</label>
        <input type="password" name="senha2" class="form-control">
    </div>
  <button type="submit" class="btn btn-primary">Cadastrar</button>
</form>
</div>
{% endblock %}
